<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Red Wine</title>
</head>
<body style="background-color: hsl(324, 100%, 50%);">
<!-- <body background-image="static/red_wine.jpeg" background-repeat="no-repeat” background-size="cover”> -->
    <!-- <center> -->
    <center>
    <h1> RED WINE QUALITY PREDICTION</h1>
    </center>
    <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;INSURANCE -->
    <br>
    <br>
    <img src='static\red_wine.jpeg'>
    
    <br><br>
    <form method="get" action ="/predict_quality">
        
        <label>Fixed Acidity:</label>
        <input type="text" name ="fixed_acidity">
        <br>
        <br>   						
        <label>Volatile Acidity:</label>
        <input type="text" name ="volatile_acidity">
           
        
        <br>  
        <br>        
        <label>Citric Acid</label>
        <input type="text" name ="citric_acid">
        <br>
        <br>
        <label>Residual Sugar</label>
        <input type="text" name ="residual_sugar">
       
        <br>
        <br>
        <label>Chlorides:</label>
        <input type="text" name ="chlorides">
        <br>
        <br>

        <label>Free Sulfur Dioxide</label>
        <input type="text" name ="free_sulfur_dioxide">
        <br>
        <br>
        <label>Total Sulfur Dioxide</label>
        <input type="text" name ="total_sulfur_dioxide">
        <br>
        <br>
        
        <label>Density</label>
        <input type="text" name ="density">
        <br>
        <br>
        
        <label>pH</label>
        <input type="text" name ="pH">
        <br>
        <br>

        <label>Sulphates</label>
        <input type="text" name ="sulphates">
        <br>
        <br>

        <label>Alcohol</label>
        <input type="text" name ="alcohol">
        <br>
        <br>


         <input type="submit" value ="SUBMIT">
     

    </form>
   
    <br>
    <br>
    {{QUALITY}}
    <!-- </center>  -->
</body>
</html>

